# SERVER CONFIG
PORT=8080

# INFLUXDB CONFIG
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=your_influx_token
INFLUX_ORG=your_organisation
INFLUX_BUCKET=your_bucket

# ECOFLOW CONFIG
ECOFLOW_SERIAL_POWERSTREAM=YOUR_SERIAL_NUMBER
ECOFLOW_ACCESS_KEY=your_ecoflow_access_key
ECOFLOW_SECRET_KEY=your_ecoflow_secret_key
POWERSTREAM_SERIAL=your_powerstream_number
DELTA3_SERIAL=your_delta3_number

# NOTE: both ecoflow access and secret key are available on their website

